<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title class="custom32">@ViewData["Title"] - MyCart</title>
    <link href="~/css/site.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/js/site.js"></script>



</head>

<body>
    @using Microsoft.AspNetCore.Http

    <header>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" asp-controller="Home" asp-action="Index">MyCart</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active onmouseover1">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Aboutus" asp-action="Index">About-us</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Product Category
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item " asp-controller="Product" asp-action="Index">All Products</a>
                            <a class="dropdown-item " href="#">Grocery</a>
                            <a class="dropdown-item" href="#">Clothing</a>
                            <a class="dropdown-item" href="#">Electronics</a>
                            <a class="dropdown-item" href="#">Hardware</a>
                            <a class="dropdown-item" href="#">Books</a>
                            <a class="dropdown-item" href="#">Others</a>

                        </div>
                    </li>

                </ul>
                <div>
                    @{ if (Context.Session.GetString("username") != null)
                        {
                            <span>Hi @Context.Session.GetString("username")</span>
                            <button id="loginbutton" style="visibility:hidden;">Login</button>
                            <button onclick="Register() style=" visibility:hidden;>Register</button>
                        }


                        else
                        {
                            <button id="loginbutton" onclick="login()">Login</button>
                            <button onclick="Register()">Register</button>
                        }
                    }


                    <button><span id="OrderQuantity" class="badge badge-light">1</span><img class="cart" src="~/images/cartIconresized.jpg" alt="CartPicture"> Cart</button>
                    @*<button type="button" class="btn btn-primary"<img class="cart" src="~/images/cartIconresized.jpg" alt="CartPicture" >*@
                    @*<span class="badge badge-light">4</span>*@
                    </button>

                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">

            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - MyCart - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <link href="~/css/styleSheet.css" rel="stylesheet" />
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
