@{
    ViewData["Title"] = "About Us";
}

<div id="over2">
    <h1>This is a startup founded in 2021</h1>
    <p class="align-self-lg-center">We are providing online cart services </p>
    <a class=" btn btn-primary" asp-controller="Home" asp-action="Index">Home</a>
</div>