@model MyCart_ClientLayer.Models.User



<h1>Welcome to MyCart</h1>
<p>Please Login to continue </p>


<form  action="Login" method="post">

    <table>
        <tr>

            <td> @Html.DisplayNameFor(model => model.UserName)</td>
            <td><input type="text" name="UserName" value="" placeholder="Type UserName" /></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" name="Password" value="" placeholder="Type Password" /></td>
        </tr>

        <tr>
            <button class="btn btn-block" type="submit" >Login</button>
            <button  >Register here </button>
            <a class="btn btn-danger" asp-action="Register" asp-controller="UserAuth">Register</a>

        </tr>
    </table>





</form>